* {
  margin: 0;
  padding: 0;
}
.logo {
  width: 200px;
  margin-top: -40px;
}
#hero {
  width: 100%;
  background-image: url(/Images/background0.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  display: flex;
}
#hero h1 {
  color: white;
  font-size: 36px;
  margin-bottom: 40px;
}
.info {
  padding: 60px 100px;
  color: White;
  width: 30%;
}
.info p {
  font-size: 50px;
  margin-bottom: 50px;
}
.info h2 {
  color: lightgrey;
  margin-top: 60px;
  margin-bottom: 20px;
}
.info a {
  color: black;
  background-color: rgb(199, 131, 82);
  padding: 10px 30px;
  text-decoration: none;
}
#about {
  background-color: white;
  height: 50vh;
  padding: 60px 100px;
}
#about h1 {
  font-size: 36px;
  margin-bottom: 50px;
}
.about-section {
  display: flex;
}
.col {
  width: 40%;
  border-radius: 10px;
  box-shadow: 2px 2px lightgrey;
  padding: 30px 30px;
  background-color: rgb(243, 242, 242);
  margin: 20px 20px 0px 0px;
}
.col h2 {
  margin-bottom: 20px;
}
.col p {
  font-size: 20px;
}
#Practice-areas {
  display: flex;
  padding: 60px 100px;
  height: 70vh;
  background-color: rgb(115, 92, 75);
  justify-content: space-between;
}
.left-side {
  width: 30%;
  color: white;
}
.left-side h1 {
  font-size: 40px;
  margin-bottom: 40px;
}
.left-side p {
  font-size: 24px;
  color: lightgrey;
}
.left-side h3 {
  font-size: 30px;
  margin: 20px 0px;
}
.left-side li {
  list-style: none;
  font-size: 24px;
  color: lightgrey;
}
.right-side img {
  width: 70%;
  border-radius: 20px;
  filter: blur(2px);
}
#testimonials {
  background-color: white;
  height: 50vh;
  padding: 60px 100px;
}
.testimonials h1 {
  font-size: 36px;
  margin-bottom: 50px;
}
.cards {
  display: flex;
}
.testimonial-card {
  width: 40%;
  border-radius: 10px;
  box-shadow: 2px 2px lightgrey;
  padding: 30px 30px;
  background-color: rgb(243, 242, 242);
  margin: 20px 20px 0px 0px;
}
.author {
  display: flex;
}
.author img {
  width: 60px;
  border-radius: 60px;
}
.author p {
  font-size: 20px;
  margin-left: 10px;
}
blockquote {
  font-size: 20px;
  margin-bottom: 20px;
}
.author:last-child img {
  width: 60px;
  height: 60px;
  border-radius: 60px;
}
footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(115, 92, 75);
  color: lightgray;
}
footer a {
  color: inherit;
  text-decoration: none;
}
.footer-sections:not(:last-child) {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}
.footer-sections a {
  font-size: 20px;
  padding: 10px 0px;
}
ion-icon {
  margin-right: 10px;
  font-size: 24px;
}
.footer-sections:last-child {
  padding: 40px 20px;
}
footer h1 {
  margin-bottom: 10px;
}
.footer-sections:first-child .logo {
  margin-bottom: -30px;
}
.footer-sections:first-child ion-icon {
  margin-left: 20px;
}
@media (max-width: 760px) {
  #hero {
    background-image: url(/Images/background0-mobile.png);
  }
  .info {
    padding: 20px 50px;
    color: White;
    width: 30%;
  }
  .info p {
    font-size: 26px;
  }
  .right-image {
    width: 60%;
    height: 70%;
    margin-top: 80px;
    margin-right: 50px;
  }
  .about-section {
    display: flex;
    flex-direction: column;
  }
  .col {
    width: 90%;
    border-radius: 10px;
    box-shadow: 2px 2px lightgrey;
    padding: 10px 20px;
    background-color: rgb(243, 242, 242);
    margin: 20px 20px 0px 0px;
  }
  .col h2 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .col p {
    font-size: 16px;
  }
  #about {
    background-color: white;
    height: 90vh;
    padding: 20px 50px;
  }
  #about h1 {
    margin-bottom: 15px;
  }
  .Practice-areas {
    padding: 20px 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .left-side p {
    font-size: 20px;
  }
  .left-side {
    width: 100%;
    color: white;
  }
  .right-side img {
    width: 80%;
    height: 80%;
    border-radius: 20px;
    filter: blur(2px);
    margin-top: 25px;
  }
  .left-side h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .left-side li {
    font-size: 20px;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
  .testimonial-card {
    width: 90%;
    border-radius: 10px;
    box-shadow: 2px 2px lightgrey;
    padding: 10px 20px;
    background-color: rgb(243, 242, 242);
    margin: 20px 20px 0px 0px;
  }
  .testimonials {
    background-color: white;
    height: 90vh;
    padding: 20px 50px;
  }
  .testimonials h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  footer {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
  }
  .footer-sections:first-child .logo {
    margin-left: 0px;
  }
  .footer-sections:first-child ion-icon {
    margin-left: 0px;
  }
}
@media (max-width: 576px) {
  #hero {
    background-image: url(./Images/background0-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
  }
  .info {
    padding: 10px 30px;
    color: White;
    width: 80%;
  }
  .info p {
    font-size: 16px;
  }
  .right-image {
    width: 60%;
    height: 40%;
    margin-top: -100px;
    margin-left: 150px;
  }
  .about-section {
    display: flex;
    flex-direction: column;
  }
  .col {
    width: 90%;
    border-radius: 10px;
    box-shadow: 2px 2px lightgrey;
    padding: 10px 20px;
    background-color: rgb(243, 242, 242);
    margin: 20px 20px 0px 0px;
  }
  #about {
    background-color: white;
    height: 90vh;
    padding: 10px 30px;
  }
  #about h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  #Practice-areas {
    padding: 10px 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .left-side p {
    font-size: 16px;
  }
  .left-side {
    width: 100%;
    color: white;
  }
  .right-side img {
    width: 80%;
    height: 80%;
    border-radius: 20px;
    filter: blur(1px);
    margin-top: 20px;
  }
  .left-side h1 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .left-side h3 {
    font-size: 26px;
  }
  .left-side li {
    font-size: 16px;
  }
  #testimonials {
    background-color: white;
    height: 100vh;
    padding: 10px 20px;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
  .testimonial-card {
    width: 90%;
    border-radius: 10px;
    box-shadow: 2px 2px lightgrey;
    background-color: rgb(243, 242, 242);
    margin: 20px 20px 0px 0px;
  }
  #testimonials h1 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  #testimonials blockquote {
    font-size: 16px;
  }
  .author {
    display: flex;
    margin-top: -10px;
  }
  .author img {
    width: 60px;
    border-radius: 60px;
  }
  .author p {
    font-size: 16px;
    margin-left: 10px;
  }
  .author:last-child img {
    width: 40px;
    height: 40px;
    border-radius: 60px;
  }
  footer {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
  }
  .footer-sections:first-child .logo {
    margin-left: -20px;
  }
  .footer-sections:first-child ion-icon {
    margin-left: 0px;
  }
  .email ion-icon{
    margin-left: -10px;
    
  }
}
